<app-header></app-header>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Signup</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="signupForm" (ngSubmit)="postForm(signupForm.value)">

                <div class="form-group">
                    <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre">
                </div>
                <div class="form-group">
                    <input type="text" id="apellido" class="form-control" placeholder="Apellido" formControlName="apellido">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="genero">Genero</label>
                        <div class="form-check" *ngFor="let genre of genres">
                                <input class="form-check-input" type="radio" name="genero" id="{{genre}}" value="{{genre}}" formControlName="genero">
                                <label class="form-check-label" for="{{genre}}">{{genre}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control"  placeholder="Password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-plus-square"></i> Crear</button>
            </form>
        </div>
    </div>
</div>